@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Montserrat:ital,wght@0,900;1,700&display=swap');

:root {
  --accent-font-family: 'Montserrat', sans-serif;
  --primaty-font-family: 'Inconsolata', monospace;

  --colors-blue-30: #a6e5ff;
  --colors-blue-80: #3f51b5;
  --colors-blue-50: #06a0fc;
  --colors-pink-40: #fc8f95;

}

::selection {
  color: white;
  background-color: var(--colors-blue-50);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 1vw;

  height: 100%;

  font-family: var(--primaty-font-family);
  font-size: 19px;
  line-height: 1.55;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  color: #1a1e1f;
  background-color: var(--colors-blue-30);

  @media screen and (max-width: 414px) {
    font-size: 17px;
    line-height: 1.45;
  }
}

.shell {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 2vw);

  margin-bottom: 1vw;
  padding: 9em 0 2.5em 0;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  background-color: white;
  border-radius: 12px;

  @media screen and (max-width: 414px) {
    padding: 6em 0 1em 0;
  }
}

.wrapper {
  width: 100%;
  max-width: 980px;

  height: 100%;

  @media screen and (max-width: 1016px) {
    padding: 0 1em;
  }

  @media screen and (max-width: 414px) {
    padding: 0 0.5em;
  }
}

h1.title {
  font-family: var(--accent-font-family);
  font-size: 36px;
  line-height: 1.15;

  @media screen and (max-width: 414px) {
    font-size: 28px;
  }
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

a.fancy-link,
a.fancy-link:visited {
  color: var(--colors-blue-50);
  margin-left: 2px;
  text-decoration: none;
  position: relative;
  z-index: 1;
}

a.fancy-link:after {
  content: '';
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 100%;
  height: 20%;
  background: #a6e5ff80;
  -webkit-transition: height .2s ease-in-out;
  transition: height .15s ease-in-out;
  z-index: -1;
}

a.fancy-link:hover:after,
a.fancy-link:focus:after {
  height: 75%;
}

a.fancy-link:hover,
a.fancy-link:focus {
  color: var(--colors-blue-80);
}

.project-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}